<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>sdesimone</string>
	<key>apiKey</key>
	<string>4ce2604fb1920124a697cbd5c5d63c5d754a746d</string>
</dict>
</plist>
